{# _app/templates/index.html_ #}
{% extends "layout.html" %}

{% block title %}Home{% endblock %}

{% block body %}
	<p class="lead"></p>
	<p><a class="btn btn-lg btn-success" href="/signup" role="button">Sign Up</a>
	</p>
	<p><a class="btn btn-lg btn-success" href="/login" role="button">Login</a>
	</p>
{% endblock %}