{# _app/templates/layout.html_ #}

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}{% endblock %}</title>
 
    
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
 
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <link href="../static/signup.css" rel="stylesheet">
	<script   src="https://code.jquery.com/jquery-3.1.1.js"  integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA="   crossorigin="anonymous"></script>
    
  </head>
 
  <body>
 
    <div class="container">
      <div class="header">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" ><a href="/">Home</a></li>
            <li role="presentation"><a href="/login">Sign In</a></li>
            <li role="presentation" class="active"><a href="/signup">Sign Up</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">Web Login</h3>
      </div>
 
      <div class="jumbotron">
		{% block body %}
	  	{% endblock %}
      </div>
 
       
 
      <footer class="footer">
        <p>&copy; Web Login 2016</p>
      </footer>
 
    </div>
	{% block script %}{% endblock %}
  </body>
</html>