{# _app/templates/login.html_ #}
{% extends "layout.html" %}

{% block title %}Login{% endblock %}

{% block body %}
        <h1>Enter Login:</h1>
        <form class="form-signin">
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email" name="inputEmail" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" name="inputPassword" id="inputPassword" class="form-control" placeholder="Password" required>
         
        <button id="btnLogin" class="btn btn-lg btn-primary btn-block" type="button">Login</button>
      </form>
{% endblock %}

{% block script %}
	<script>
		$(function() {
		    $('#btnLogin').click(function() {

		        $.ajax({
					type: 'POST',
		            url: '/loginUser',
		            data: $('form').serialize(),
		            success: function(response) {
						console.log(response);
						var result = JSON.parse(response);
						if (result.fail) {
							$('.jumbotron').prepend('<div class="alert alert-danger"><strong>Incorrect Login!</strong></div>');
							if ($('.alert-danger').length > 1) {
								$('.alert-danger').last().remove();
							}
						}
						else {
							if ($('.alert-danger').is(':visible')) {
								$('.alert-danger').remove();
							}
							$('.jumbotron h1').remove();
							$('form').replaceWith('<div class="alert alert-success"><strong>Successful Login!</strong></div>');
						}
		            },
		            error: function(error) {
		                console.log(error);
		            }
		        });
		    });
		});
	</script>
 {% endblock %}