{# _app/templates/signup.html_ #}
{% extends "layout.html" %}

{% block title %}Sign Up{% endblock %}

{% block body %}
        <h1>Enter Info:</h1>
        <form class="form-signin">
        <label for="inputName" class="sr-only">Name</label>
        <input type="name" name="inputName" id="inputName" class="form-control" placeholder="Name" required autofocus>
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email" name="inputEmail" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" name="inputPassword" id="inputPassword" class="form-control" placeholder="Password" required>
         
        <button id="btnSignUp" class="btn btn-lg btn-primary btn-block" type="button">Sign Up</button>
      </form>
{% endblock %}

{% block script %}
	<script>
		$(function() {
		    $('#btnSignUp').click(function() {

		        $.ajax({
					type: 'POST',
		            url: '/createUser',
		            data: $('form').serialize(),
		            success: function(response) {
						var result = JSON.parse(response);
						if (result.validationError) {
							$('.jumbotron').prepend('<div class="alert alert-danger"><strong>Make sure to fill in all fields.</strong></div>');
							
							if ($('.alert-danger').length > 1) {
								$('.alert-danger').last().remove();
							}
						}
						else if (result.error) {
							$('.jumbotron').prepend('<div class="alert alert-danger"><strong>User with that email address already exists!</strong></div>');
							
							if ($('.alert-danger').length > 1) {
								$('.alert-danger').last().remove();
							}
						}
						else {
							if ($('.alert-danger').is(':visible')) {
								$('.alert-danger').remove();
							}
							$('.jumbotron h1').remove();
							$('form').replaceWith('<div class="alert alert-success"><strong>User created successfully!</strong></div>');
						}
		            },
		            error: function(error) {
		                console.log(error);
		            }
		        });
		    });
		});
	</script>
 {% endblock %}